@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

*   {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* Cabecera */

header {
    /* position: fixed; */
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
    padding: 10px 190px;
    width: 100%;
    /* background: red; */
    /* align-items: center; */
    /* z-index: 99; */
}

.logo {
    user-select: none;
    font-size: 2em;
    color: black;
}

.navegacion a {
    position: relative;
    font-weight: 500;
    margin-left: 45px;
    color: black;
    text-decoration: none;
}

.navegacion a::after {
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    content: '';
    border-radius: 4px;
    width: 100%;
    background: black;
    transform: scale(0);
    transition: transform .3s;
}

.navegacion a:hover::after {
    transform: scale(1);
}

.navegacion .sesion {
    position: relative;
    font-weight: 500;
    margin-left: 300px;
}

.navegacion .btn_registro {
    width: 125px;
    height: 40px;
    font-size: 1em;
    font-weight: 500;
    margin-left: 35px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: black;
    border: 2px solid black;
}

.navegacion .btn_registro:hover {
    background-color: rgb(55, 55, 55);
    border: 2px solid rgb(55, 55, 55);
}

.formularios {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.5);
}

/* Login */

.login_form   {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 40px;
    border-radius: 4px;
    background: #fff;
}

.login_form h1 {
    text-align: center;
    margin-bottom: 30px;
}

.caja  {
    margin-top: 15px;
    margin-bottom: 7px;
}

.caja input {
    padding: 0 10px;
    width: 100%;
    height: 35px;
    outline: none;
    border-radius: 4px;
    border: none;
    background: rgb(250, 250, 250);
}

.caja input:focus {
    border: 2px solid black;
}

.olv_cont {
    font-size: .9em;
    padding: 0px 2px;
}

.btn_sesion {
    width: 100%;
    height: 38px;
    margin-top: 30px;
    margin-bottom: 7px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: black;
    border: 2px solid black;
}

.btn_sesion:hover {
    background-color: rgb(55, 55, 55);
    border: 2px solid rgb(55, 55, 55);
}

.log_regis {
    font-size: .9em;
    padding: 0px 1px;
}


/* Registro */

.registro_form   {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 40px;
    border-radius: 4px;
    background: #fff;
}

.registro_form h1 {
    text-align: center;
    margin-bottom: 30px;
}

.caja  {
    margin-top: 15px;
    margin-bottom: 7px;
}

.caja input {
    padding: 0 10px;
    width: 100%;
    height: 35px;
    outline: none;
    border-radius: 4px;
    border: none;
    background: rgb(250, 250, 250);
}

.caja input:focus {
    border: 2px solid black;
}

.olv_cont {
    font-size: .9em;
}

.btn_sesion {
    width: 100%;
    height: 38px;
    margin-top: 30px;
    margin-bottom: 7px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: black;
    border: 2px solid black;
}

.btn_sesion:hover {
    background-color: rgb(55, 55, 55);
    border: 2px solid rgb(55, 55, 55);
}

.log_regis {
    font-size: .9em;
}
